In [1]:
import mysql.connector as connector

In [2]:
connection=connector.connect(port=3305, user='root', password='272881J@n', db= 'LittleLemonDB')

In [3]:
cursor=connection.cursor()

In [4]:
show_tables_query = "SHOW TABLES"
cursor.execute(show_tables_query)
results= cursor.fetchall()
for tables in results:
    print(tables)

('bookings',)
('customers',)
('delivery_address',)
('menuitems',)
('menus',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staff',)
('staff_address',)

In [5]:
SQL_Join_Query="""
SELECT CONCAT(customers.CustomerFirstName, ' ', customers.CustomerLastName) AS FullName,
customers.PhoneNumber, orders.TotalCost AS 'BillAmount'
FROM customers, bookings, orders
WHERE customers.CustomerID = bookings.CustomerID
AND bookings.BookingID = orders.BookingID
AND orders.TotalCost > 60;"""
#Executing Query
cursor.execute(SQL_Join_Query)
#Fetching Records
results = cursor.fetchall()
#Grabbing Column Names
columns = cursor.column_names

#Pint Columns
print(columns)
#Print Results
for row in results:
    print(row)

('FullName', 'PhoneNumber', 'BillAmount')
('Marlow Corn', '261-981-2455', Decimal('86.00'))
('Adriano Bettles', '768-371-4761', Decimal('129.00'))
('Marlow Corn', '261-981-2455', Decimal('215.00'))
('Ezmeralda Buie', '694-253-9064', Decimal('258.00'))

In [6]:
cursor.close()
connection.close()